@{
    Layout = "";
}
<script src="https://static.zipmoney.com.au/checkout/checkout-v1.js"></script>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <button id="zip">Pay with zip</button>
        </td>
    </tr>
</table>
<script>
    Zip.Checkout.init({ 
        checkoutUri: '/PaymentZipMoney/ZipCheckout',
        redirectUri: '/PaymentZipMoney/ZipRedirect'
    });
</script>