@model Nop.Plugin.Payments.ZipMoney.Models.ZipReferConfirmModel
@{
    Layout = "";
}
@if (Model.ShowInfo)
{
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                @Model.Info1
            </td>
            <td>
                @Model.Info2
            </td>
            <td>
                @Model.Info3
            </td>
        </tr>
    </table>
}