@model Nop.Plugin.Payments.ZipMoney.Models.ZipMoneyWidget
@{
    Layout = "";
}
    
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="https://static.zipmoney.com.au/lib/js/zm-widget-js/dist/zip-widget.min.js"></script>

<div data-zm-merchant="@Model.PublicKey" data-env="@Model.environment"></div>
<style>
    #zip-prod-widget > iframe {
        position: relative !important;
        right: 20px !important;
    }
</style>
<div style="cursor:pointer" id="zip-prod-widget" data-zm-asset="productwidget" data-zm-widget="popup" data-zm-popup-asset="termsdialog"></div>
