<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="quoting_binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.temando.com/soapServer.html" binding="basicHttpBinding"
                bindingConfiguration="quoting_binding" contract="quoting_portType"
                name="quoting_port" />
        </client>
    </system.serviceModel>
</configuration>